# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_CORNIX42_LEFT
	def_bool $(shields_list_contains,cornix42_left)

config SHIELD_CORNIX42_DONGLE
	def_bool $(shields_list_contains,cornix42_dongle)
config SHIELD_CORNIX42_RIGHT
	def_bool $(shields_list_contains,cornix42_right)
config SHIELD_CORNIX42_PH_LEFT
	def_bool $(shields_list_contains,cornix42_ph_left)