# Electronut Labs Papyr board configuration

# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if BOARD_CORNIX_E73

config BOARD
    default "cornix"

if USB_DEVICE_STACK

config USB_NRFX
    default y

endif # USB_DEVICE_STACK

config BT_CTLR
    default BT

if BOARD_CORNIX_E73

config BOARD_CORNIX_CHARGER
    default y

endif # BOARD_CORNIX_E73 

endif # BOARD_CORNIX_E73
