# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_CORNIX_LEFT
	def_bool $(shields_list_contains,cornix_main_left)

config SHIELD_CORNIX_DONGLE
	def_bool $(shields_list_contains,cornix_dongle)
config SHIELD_CORNIX_RIGHT
	def_bool $(shields_list_contains,cornix_right)
config SHIELD_CORNIX_PH_LEFT
	def_bool $(shields_list_contains,cornix_ph_left)