# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT


## Main device (left side)
if SHIELD_CORNIX_MAIN_LEFT || SHIELD_CORNIX_DONGLE

config ZMK_KEYBOARD_NAME
	default "Cornix"

config ZMK_USB
	default y 

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_FETCHING
	default y

config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_PROXY
	default y

endif # SHIELD_CORNIX_LEFT

## Peripheral device (right side)
if SHIELD_CORNIX_RIGHT || SHIELD_CORNIX_PH_LEFT

config ZMK_SPLIT_ROLE_CENTRAL
    default n

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default n

config ZMK_USB
    default n

if ZMK_BACKLIGHT

config PWM
    default y

config LED_PWM
    default y

endif # ZMK_BACKLIGHT

# Add keyboard debouncing
config ZMK_KSCAN_DEBOUNCE_PRESS_MS
    default 5
config ZMK_KSCAN_DEBOUNCE_RELEASE_MS
    default 5

endif # SHIELD_CORNIX_RIGHT

# Common options for both sides
if SHIELD_CORNIX_MAIN_LEFT  || SHIELD_CORNIX_DONGLE || SHIELD_CORNIX_PH_LEFT || SHIELD_CORNIX_RIGHT

config ZMK_SPLIT
	default y

config ZMK_BLE
	default y

## disable rgb by default
config WS2812_STRIP
	default n
config ZMK_RGB_UNDERGLOW
	default n
config ZMK_RGB_UNDERGLOW_EXT_POWER
	default n

endif # SHIELD_CORNIX_LEFT || SHIELD_CORNIX_RIGHT


#vim: set ft=Kconfig