name: Build ZMK firmware
on:
  workflow_dispatch:
  push:
    paths:
      - "boards/*"
      - "config/*"
    tags-ignore:
      - "*"

jobs:
  build:
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@main